.gallery {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    list-style-type: none; 
    padding: 0; 
    margin: 0;
  }
  
  .gallery li {
    flex: 0 1 calc(33.33% - 20px); 
    margin: 10px; 
  }
  
  .gallery img {
    width: 100%; 
    height: auto;
  }

  .itemImage img:hover {
    transform: scale(1.010);
    cursor: pointer;
  }
  

.itemImage description {
  max-width: 80%;

}